body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}
* {
  /* border: rgb(255, 0, 0) 1px solid; */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
}
.upper-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
  top: 0;
  right: 0;
  left: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.lower-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(10, 30, 30);
  height: 30px;
  right: 0;
  left: 0;
  top: 60px;
  z-index: 3;
}
#center-bar {
  display: flex;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: transform 1s ease-out;
}
#center-bar:hover,
#logo:hover,
#search:hover,
#bag:hover,
#heart:hover {
  transform: scale(1.25);
}
#right-bar {
  display: flex;
  justify-content: space-between;
  margin-right: 2vw;
}
#home {
  padding-right: 7vw;
}
#almog {
  padding-left: 6vw;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
.hero {
  width: 100vw;
  position: absolute;
  height: auto;
  top: 90px;
}
#shark-gif {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.shark-header {
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  font-size: 65px;
  font-weight: bold;
  top: 50%;
  left: 50%;
}

#logo {
  margin-left: 2vw;
}
#logo,
#search,
#bag,
#heart {
  transition: transform 1s ease-out;
}
#anim {
  height: 30px;
  background: rgb(0, 0, 0);
  border-radius: 30px;
}
#anim:hover input {
  width: 200px;
  background: white;
}
#anim input {
  width: 0;
  height: 30px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 1.6s;
  background: transparent;
  color: transparent;
  margin: auto;
}
#anim i .sea {
  color: black;
  font-size: 18px;
}

#item1,
#item2,
#item3,
#item4 {
  width: 22vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#watch1,
#watch2,
#watch3,
#watch4 {
  width: 22vw;
  height: 30vw;
  display: block;
  text-align: center;
}

footer {
  width: 100%;
  height: calc(60vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(1, 58, 55);
  color: white;
  position: relative;
  top: calc(90px + 66vw + 10vh);
  border-top: black 6px solid;
}
header {
  background-color: rgba(255, 255, 255, 0);
  font-size: 35px;
  font-weight: bold;
  width: 100%;
  height: auto;
  margin-left: 3vw;
  margin-top: 1vw;
  /* border: red solid 1px; */
  position: relative;
  top: calc(90px + 66vw);
  z-index: 5;
}
main {
  background-color: white;
  width: 100%;
  height: auto;
  /* border: red solid 1px; */
  position: relative;
  top: calc(90px + 66vw + 2vh);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#top-footer {
  display: flex;
}
#top-footer div {
  margin-left: 8vw;
}
#bottom-footer {
  display: flex;
  margin-left: 10vw;
}
.add {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: fixed;
  bottom: 5vh;
  right: -3vw;
  width: 10vw;
  height: 10vw;
  z-index: 5;
  transition: transform 0.5s ease;
  transform: rotate(-45deg);
}
.add:hover {
  transform: translateX(-6vw);
  #bubble1 {
    display: none;
  }
  #bubble2 {
    display: block;
  }
}
#bubble1 {
  width: 100%;
  height: auto;
  margin-bottom: -5vh;
}
#bubble2 {
  width: 100%;
  height: auto;
  margin-bottom: -5vh;
  display: none;
}
#shrk {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
    justify-content: center;
  }
  header {
    font-size: 24px;
  }
  nav {
    width: 100%;
  }
  nav #center-bar {
    display: none;
  }
  #right-bar {
  }
  .upper-nav {
    width: 100vw;
  }
  .lower-nav {
    width: 100vw;
  }
  .hero {
    width: 100%;
  }
  .shark-header {
    font-size: 40px !important;
    margin-right: 1vw;
  }
  .add {
    right: -7vw;
    width: 20vw;
    bottom: 10vh;
  }
}
@media (max-width: 400px) {
  .shark-header {
    font-size: 36px !important;
    margin-right: 1vw;
  }
}
@media (max-width: 800px) {
  main {
    flex-wrap: wrap;
  }
  #item1,
  #item2,
  #item3,
  #item4 {
    width: 44vw;
    height: auto;
  }

  #watch1,
  #watch2,
  #watch3,
  #watch4 {
    width: 44vw;
    height: auto;
  }
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  width: 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  transition: width 0.3s ease;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  display: hidden;
}
.search-input:focus {
  width: 200px;
  display: block;
}
.search-icon:hover ~ .search-input {
  background-color: rgb(255, 255, 255);
}
.search-input:hover {
  background-color: rgb(255, 255, 255);
}
.search-input:focus {
  background-color: rgb(255, 255, 255);
}
.search-container:hover .search-icon {
  color: black;
}

.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
  color: white;
  margin-right: 5px;
}
.search-container:hover .search-input {
  width: 200px;
}
