@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");
body {
  font-size: 17px;
  font-family: "Roboto", Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
}
.upper-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
  top: 0;
  right: 0;
  left: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.lower-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(1, 58, 55);
  height: 30px;
  right: 0;
  left: 0;
  top: 60px;
  z-index: 3;
}
#center-bar {
  display: flex;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: transform 1s ease-out;
}
#center-bar:hover,
#logo:hover,
#search:hover,
#bag:hover,
#heart:hover {
  transform: scale(1.25);
}
#right-bar {
  display: flex;
  justify-content: space-between;
  margin-right: 2vw;
}
#home {
  padding-right: 7vw;
}
#almog {
  padding-left: 6vw;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
footer {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(1, 58, 55);
  color: white;
  position: relative;
  top: 40vh;
  border-top: black 6px solid;
}
#top-footer {
  display: flex;
}
#top-footer div {
  margin-left: 8vw;
}
#bottom-footer {
  display: flex;
  margin-left: 10vw;
}
.layout {
  top: 90px;
  position: relative;
  display: flex;
  gap: 2vw;
  justify-content: center;
  width: 80vw;
  z-index: 1;
}
#pic1 {
  width: 45vw;
  height: auto;
  transition: trasnform 1.5s ease-out;
}
#pic2 {
  width: 22.5vw;
  height: auto;
  transition: trasnform 1.5s ease-out;
}
#pic3 {
  width: 22.5vw;
  height: auto;
  transition: trasnform 1.5s ease-out;
}
#pic1:hover,
#pic2:hover,
#pic3:hover {
  transform: scale(1.1);
}
.pic-section {
  display: flex;
  flex-direction: column;
}
.pic-section .bottom {
  display: flex;
  justify-content: center;
}
.descripton {
  width: 80vw;
}
.descripton div p b {
  margin-bottom: 10%;
}
[type="button"] {
  width: 20%;
  height: 30px;
  margin-left: 1vw;
  background: white;
  transition: 1s ease transform;
}
[type="button"]:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 5px grey;
}
#stock {
  background: rgb(222, 222, 222);
}
#butn {
  width: 32vw;
  height: 2.5vw;
  background: rgb(1, 58, 55);
  background: linear-gradient(90deg, rgb(1, 58, 55), rgb(54, 143, 139));
  background-size: 300% 100%;
  background-position: 100% 0;
  color: white;
  border-radius: 30px;
  transition: transform 0.8s ease-out;
  transition: background-position 0.5s ease-out;
}
#butn:hover {
  cursor: pointer;
  transform: scale(1.08);
  background-position: 0 0;
}
.button {
  transition: transformation 0.5s ease-out;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.06);
}
.button:active {
  background: rgb(54, 143, 139);
}
.choose {
  position: absolute;
  right: 15vw;
  top: calc(90px + 4vw);
  margin: left 1vw;
}
.hover {
  display: none;
}
.choose:hover ~ #pic1 {
  display: none;
}
.choose:hover ~ .hover {
  display: block;
  width: 45vw;
  height: 22.5vw;
}
@media (max-width: 3000px) {
  .choose {
    right: 25vw;
    top: calc(90px + 2vw);
  }
}
@media (max-width: 2400px) {
  .choose {
    right: 24vw;
    top: calc(90px + 2vw);
  }
}
@media (max-width: 2000px) {
  .choose {
    right: 23vw;
    top: calc(90px + 2vw);
  }
}
@media (max-width: 1600px) {
  .choose {
    right: 22vw;
    top: calc(90px + 2vw);
  }
}
@media (max-width: 1400px) {
  .choose {
    right: 20vw;
    top: calc(90px + 2vw);
  }
}
@media (max-width: 1200px) {
  .choose {
    right: 18vw;
    top: calc(90px + 2vw);
  }
}
@media (max-width: 1120px) {
  .choose {
    right: 17vw;
    top: calc(90px + 2vw);
  }
}
@media (max-width: 1040px) {
  .choose {
    right: 16vw;
    top: calc(90px + 2vw);
  }
}
@media (max-width: 980px) {
  .choose {
    right: 15vw;
  }
}
@media (max-width: 900) {
  .choose {
    right: 12vw;
  }
}
@media (max-width: 870px) {
  .choose {
    right: 12vw;
  }
}
@media (max-width: 800px) {
  .layout {
    flex-direction: column;
    gap: 0;
    width: 80vw;
  }
  .choose {
    position: absolute;
    left: 2vw;
    top: calc(90px + 87vw);
  }
  #pic1,
  .choose:hover ~ .hover {
    width: 80vw;
    height: auto;
  }

  #pic2 {
    width: 40vw;
    height: auto;
  }
  #pic3 {
    width: 40vw;
    height: auto;
  }
  #item-header {
    font-size: 28px;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  #item-des {
    font-size: 21px;
    margin: 0;
    margin-left: 2vw;
    display: inline;
  }
  #price {
    margin-left: 2vw;
    margin-bottom: 0;
    margin-left: 2vw;
  }
  #clr {
    margin-top: 1vw;
    margin-left: 2vw;
  }
  #sze {
    margin-left: 2vw;
    margin-bottom: 0;
  }
  #butn {
    width: 60vw;
    height: 6vw;
    margin-left: 10vw;
  }

  footer {
    top: calc(90px + 15vw);
    flex-wrap: wrap;
    font-size: 14px;
  }
}
.add {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: fixed;
  bottom: 5vh;
  right: -3vw;
  width: 10vw;
  height: 10vw;
  z-index: 5;
  transition: transform 0.5s ease;
  transform: rotate(-45deg);
}
.add:hover {
  transform: translateX(-6vw);
  #bubble1 {
    display: none;
  }
  #bubble2 {
    display: block;
  }
}
#bubble1 {
  width: 100%;
  height: auto;
  margin-bottom: -5vh;
}
#bubble2 {
  width: 100%;
  height: auto;
  margin-bottom: -5vh;
  display: none;
}
#shrk {
  width: 100%;
  height: auto;
}
#logo {
  margin-left: 2vw;
  width: 35px;
  height: 35px;
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  width: 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  transition: width 0.3s ease;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  display: hidden;
}
.search-input:focus {
  width: 200px;
  display: block;
}
.search-icon:hover ~ .search-input {
  background-color: rgb(255, 255, 255);
}
.search-input:hover {
  background-color: rgb(255, 255, 255);
}
.search-input:focus {
  background-color: rgb(255, 255, 255);
}
.search-container:hover .search-icon {
  color: black;
}

.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
  color: white;
  margin-right: 5px;
}

.search-container:hover .search-input {
  width: 200px;
}
.back1 {
  background: rgb(1, 58, 55);
  color: white;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  position: absolute;
  top: -10vh;
  left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: transform 1s ease-out;
}
.back2 {
  background: rgb(1, 58, 55);
  color: white;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  position: absolute;
  top: -10vh;
  right: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: transform 1s ease-out;
}
.back1:hover,
.back2:hover {
  transform: scale(1.08);
  box-shadow: 0 5px 5px grey;
}
@media (max-width: 800px) {
  .back1 {
    top: -9vh;
    font-size: 16px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
  }
}
@media (max-width: 550px) {
  .back2 {
    top: -8vh;
    height: 40px;
  }
}

@media (max-width: 450px) {
  .back1 {
    top: -6vh;
    width: 80px;
    height: 30px;
    border-radius: 15px;
  }
  .back2 {
    top: -7vh;
    height: 30px;
    width: 100px;
    font-size: 10px;
  }
}
@media (max-width: 370px) {
  .back1 {
    top: -6vh;
    width: 80px;
    height: 30px;
    border-radius: 15px;
  }
  .back2 {
    top: -6vh;
  }
}
